from litestar import Router

from {{ importname }}.api.routes.root.router import router as root_router
{%- if events and sse %}
from {{ importname }}.api.routes.sse.router import router as sse_router
{%- endif %}

router = Router(
    path="/",
    route_handlers=[
        root_router,
        {%- if events and sse %}
        sse_router,
        {%- endif %}
    ],
)
