from pydantic import Field

from {{ importname }}.models.base import SerializableModel
from {{ importname }}.models.data import Foo


class GetResponse(SerializableModel):
    """Example GET response."""

    foo: Foo = Field(
        ...,
        title="GetResponse.Foo",
        description="Example Foo object.",
    )
