{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "{{ appname }}",
      "type": "python",
      "request": "launch",
      "module": "{{ appname }}",
      "justMyCode": false
    }
  ]
}
